<!DOCTYPE html>
<html>
<head>
  <title>Página de Reciclaje</title>
</head>
<body>
  <header>
    <h1>Página de Reciclaje</h1>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Reciclaje</a></li>
        <li><a href="#">Consejos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="hero">
      <h2>Bienvenido a nuestra página de reciclaje</h2>
      <p>Descubre cómo puedes contribuir al cuidado del medio ambiente a través del reciclaje.</p>
      <a href="#" class="cta-button">Más información</a>
    </section>

    <section id="services">
      <h2>Nuestros Servicios</h2>
      <div class="service">
            <img src="foto1.jpg" alt="Icono de servicio">
        <h3>Reciclaje de papel</h3>
        <p>Recicla tus hojas de papel y contribuye al ahorro de árboles.</p>
      </div>
      <div class="service">
        <img src="tel3350-master/foto.jpg">
        <h3>Reciclaje de plástico</h3>
        <p>Recicla tus envases de plástico y ayuda a reducir la contaminación.</p>
      </div>
      <div class="service">
        <img src="foto1.jpg" alt="Icono de servicio">
        <h3>Reciclaje de vidrio</h3>
        <p>Recicla tus botellas de vidrio y contribuye al ahorro de energía.</p>
      </div>
    </section>

    <section id="contact">
      <h2>Contacto</h2>
      <p>¿Tienes alguna pregunta o sugerencia? Contáctanos.</p>
      <form>
        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Correo electrónico">
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>

  <footer>
    <p>Derechos de autor &copy; 2023. Página de Reciclaje. Todos los derechos reservados.</p>
  </footer>
</body>
</html>